body{
	background-color: #dedede;
}

.block{
	margin-top: 40px;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 1px 1px 20px #fff;
}

#tcvs{
	width: 100%;
}

.code-area{
	margin-top: 10px;
	border:none;
	width:100%;
	height: 320px;
}

.code-state-block{
	width:100%;
}